*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    padding-left: 250px;
    white-space: nowrap;
    display:flex;
}

.nav-link {
    display: flex;
}

.navbar-nav a {
    margin-left: 25px;
    margin-right: 20px;
    font-family: 'Teko', sans-serif;
    font-size: 21px;
    color: #0f5b26;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0%;
    left: 0%;
    z-index: 1030;
 }

.navbar-nav a:hover{
    color: rgb(74, 165, 74);  
}

.sub-navbar ul li a{
    font-size: 18px;
    font-weight: 600;
    color: #167450;
}

.sub-navbar a:hover{
    color: rgb(74, 165, 74);
}

/*Adição da barra vertical*/
.vertical {
    border: none;
    border-left: 2px solid hsla(50, 2%, 15%, 25);
    height: 4.5vh;
    width: 1px;   
    display: flex;
    margin-left: 3%;
    border-color: rgb(8, 161, 21);
}

/*Adição da barra vertical2*/
.vertical2 {
    border: none;
    border-left: 2px solid hsla(50, 2%, 15%, 25);
    height: 4.5vh;
    width: 2px;   
    display: flex;
    border-color: rgb(7, 150, 7);
  
} 

.imgconta {
  margin-left: 6%;
}

.carousel2-inner{
   filter: opacity(10%);
}

.form {
    --input-bg: #FFf;
    /*  background of input */
    --padding: 2em;
    --rotate: 80deg;
    /*  rotation degree of input*/
    --gap: 1em;
    /*  gap of items in input */
    --icon-change-color: #15A986;
    /*  when rotating changed icon color */
    --height: 43px;
    /*  height */
    width: 200px;
    padding-inline-end: 1em;
    /*  change this for padding in the end of input */
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
  }
  
  .form label {
    display: flex;
    align-items: center;
    width: 250%;
    height: var(--height);
  }
  
  .form input {
    padding-inline-start: calc(var(--padding) + var(--gap));
    height: 80%;
    outline: none;
    border: 0;
    color: #454945;
    font-weight: 600;
    font-weight:600;
  }

  /* style for both icons -- search,close */
  .form svg {
    /* display: block; */
    color: #3dbc31;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 24px;
    margin-right: 100%;
  }

  /* search icon */
  .icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* arrow-icon*/
  .swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
  }

  /* close button */
  .close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  
  .form input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
  }
  
  .form input:focus ~ .icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
  }
  
  .form input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
  }
  
   .btn {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
    font-weight: 600;
  }
  
  .btn::after {
    content: '';
    border-bottom: 3px double rgb(255, 255, 255);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  
  .btn .icon {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 1.2s linear infinite;
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }
  
  .btn:hover {
    letter-spacing: 2px;
    opacity: 1;
  }
  
  .btn:hover > .icon {
    transform: translateX(30%);
    animation: none;
  }
  
  @keyframes attention {
    0% {
      transform: translateX(0%);
    }
  
    50% {
      transform: translateX(30%);
    }
  }

  input::placeholder {
    color: rgb(8, 183, 61);
  }

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.navMenu {
  position: absolute;
  top: 140%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
}

.navMenu a {
  color: #188f08;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
  font-family: 'Teko', sans-serif;
  font-size: 21px;
}

.navMenu a:hover {
  color: #37cd09;
}

h3 {
  font-family: 'Teko', sans-serif;
 }



  
